{{#if products.length}}
  <table class="table">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {{#each product}}
        <tr>
          <th scope="row">{{this.id}}</th>
          <td>{{this.title}}</td>
          <td>$ {{this.price}}</td>
          <td><imgstyle="max-width: 200px"src="{{this.thumbnail}}" /></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h2>No products found</h2>
{{/if}}